# General
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
*.DS_Store

# Exclude all .pt files (PyTorch model files)
*.pt